/* Reference */
.tab-container {
  display: flex;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-right: 10px; /* Add some spacing between tabs */
}

.tab.active {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

/* ReferenceItem */
.ref-box {
  display: flex;
}

.ref-initial {
  flex: 2;
}

.ref-content {
  border: 1px solid blue;
  border-radius: 5px;
}
